h1 {
    color: #ffffff;         /*rgb(255,255,255)*/
    background-color: #000000;
    
}

h2 {
    color: #ffff00;
}

p {
    color: #ffffff;
    background-color: #000000;
}

p2 {
    color: #00ffff;
}